<?xml version="1.0"?>
<launch>
	<!-- Connection au robot --> 
	<!--<include file="$(find fetch_navigation)/launch/build_map.launch" />-->
	<!--Placement du laser par rapport a la frame du robot--> 

	<node pkg="tf" type="static_transform_publisher" name="add_laser_to_baselink" args="0.1 0 0.13 0 0 0 base_link laser 100"/>

	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" />

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
		<!--On donne ici des parametres de distances max gardees sur les donnees laser pour la creation de map -->
		<param name="maxURange" value="4.0"/>
		<param name="map_update_interval" value="5.0"/>
	</node> 
	<!--Ouverture de rviz avec les parametres pre-etablis pour la creation de la map-->
	<node pkg="rviz" name="rviz" type="rviz" args="-d $(find fetch)/rviz/mapping.rviz" />
</launch>


